@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
  
    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
  
    /* Decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
}

:root{
    --background: #02050e;
    --secondary: #272d37;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


header{
  background-color: var(--secondary);
  color: white;
  display:flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

nav{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 15px;
}


.nav-list{
    display: flex;
    gap: 20px;
    color:var(--text-white);
}


.listado{
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    margin-top: 10px;
}

a{
    color:var(--text-white)
}

h2{
    background: rgb(8,8,8);
    background: linear-gradient(90deg, rgba(8,8,8,1) 4%, rgba(255,116,48,1) 35%, rgba(192,0,255,1) 100%);
    color:#f0fbff;
    font-size: 300%;
}


.hero-section{
    display: flex;
    background-color: var(--background);
    color: #f3f4f6;
    align-items: center;
    justify-content: space-around;
    
}

.hero-info h1{
    display: flex;
    font-size: 50px;
    justify-content:space-around;
    text-align: center;
}

.select{
  background-color: var(--fire);
  border-radius: 10px;
  padding: 10px;
  color: #f0fbff;
}

.select2{
    background-color: transparent;
    color: var(--text-white);
    border: 2px solid var(--electric);
    padding: 10px 15px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    margin: 50px 0;
}

.card{
    border-color: transparent;
    border-radius: 10px;
    
}

.card img{
    height: 420px;
    width: 600px;
    padding: 5px;
    border-radius: 40px;
}

.informativo p{
    background-color: #ff6d00;
    display: flex;
    color: var(--text-white);
    padding: 30px;
    text-align: center;
    flex-direction: column;
}


.info.card{
    background-color: #02050e;
}



.info-cards-container{
    padding: 70px;
    margin-top: -20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:150px;
    text-align: end;   
    background: rgb(8,8,8);
    background: linear-gradient(90deg, rgba(8,8,8,1) 4%, rgba(255,116,48,1) 35%, rgba(192,0,255,1) 100%);
}

p , h3 {
    color: var(--text-white);
}


.final-card h3{
    display: flex;
    color: #02050e;
}

div .lis1{
    justify-content: space-around;
}